.list-group {
    background-image: linear-gradient(to top, rgb(146, 102, 5), rgb(138, 156, 255), rgb(255, 94, 0));
    border: rgb(29, 29, 49) solid 7px;
    width: 38rem;
    height: auto;
    padding: 10px;
    margin: 10px;
}
.list-group-item{
    color:blanchedalmond;
    height: 60px;
    font-family: 'Dancing Script', cursive;
    border-radius: 20px;
    border: rgb(23, 83, 211) solid 5px;
    padding: 0px;
}
#historys h4{
    font-family: 'Dancing Script', cursive;
    background-color: rgb(68, 68, 148);
    opacity: 0.4;
    color: whitesmoke;
}