.fondo {
  background-image: -webkit-gradient(linear, left top, right top, from(#09090a), color-stop(orange), to(#09090a));
  background-image: linear-gradient(to right, #09090a, orange, #09090a);
  /* transform: rotate(-1deg); */
  font-size: 1rem;
}

.social {
  width: 48px;
  position: fixed;
  top: 50px;
  right: 0;
}

.social {
  top: 50%;
  height: 205px;
  margin-top: 130px;
}

.logo_redes {
  width: 40px;
}

.flecha_arriba {
  display: none;
  width: 40px;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
}

.up {
  width: 317px;
  position: fixed;
  top: 50px;
  right: 0;
}

.up {
  top: 92%;
  height: 205px;
  margin-top: -10px;
}

.carousel-inner img {
  width: 100%;
}

.carousel-inner {
  /* height: 200px; */
  width: auto;
}

.spinner-border {
  display: inline-block;
  width: 5rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: .75s linear infinite spinner-border;
  animation: .75s linear infinite spinner-border;
}

.logo img {
  width: 5rem;
  border-radius: 20%;
}

.container-fluid {
  width: 80%;
}

.nombre_ini a {
  display: none;
  border: black solid 5px;
  margin: 10px;
  font-size: 30px;
  /* background-color: rgb(71, 145, 255); */
  background-image: url(../img/portada.jpg);
}

.titulo_principal {
  display: none;
  cursor: pointer;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-light)) !important;
}

.footer {
  background-color: black;
}

.list-group {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#926605), color-stop(#8a9cff), to(#ff5e00));
  background-image: linear-gradient(to top, #926605, #8a9cff, #ff5e00);
  border: #1d1d31 solid 7px;
  width: 38rem;
  height: auto;
  padding: 10px;
  margin: 10px;
}

/* .list-group:hover{
    background-image: linear-gradient(to top, rgb(0, 89, 255), rgb(14, 50, 255), rgb(31, 3, 24));
} */
.list-group-item {
  color: blanchedalmond;
  height: 60px;
  font-family: 'Dancing Script', cursive;
}

/* .list-group-item:hover{
    color: rgb(5, 4, 15);
} */
#historys h4 {
  font-family: 'Dancing Script', cursive;
}

.carousel-item img {
  border-radius: 10px;
}

.hoy img {
  border-radius: 10px;
  height: auto;
  width: 100%;
  /* margin: -110px; */
  /*  margin-inline-start: auto; */
}

.biografy {
  border: black solid 20px;
}

.marco {
  border: #1d1d31 solid 7px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f96f0), color-stop(#8a9cff), to(#926605));
  background-image: linear-gradient(to top, #0f96f0, #8a9cff, #926605);
  width: 100%;
}

.marco img {
  width: 100%;
}

.nav-item {
  border: black outset 3px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0f96f0), color-stop(#8a9cff), to(#926605));
  background-image: linear-gradient(to top, #0f96f0, #8a9cff, #926605);
}

.videos_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos_flex iframe {
  width: 90%;
  margin: 10px;
}

.navbar {
  font-family: 'Dancing Script', cursive;
}

p {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

.overlay {
  background: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #f8f8f8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  width: 600px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 1;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
}

.btn-cerrar-popup img {
  width: 40px;
  border-radius: 10px;
  background-color: blue;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.btn-cerrar-popup img:hover {
  background-color: greenyellow;
}

.btn-abrir-popup {
  font-size: 10px;
  border-radius: 60px;
  border: #010114 solid 10px;
  /*    width: 450px; */
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ccaa13;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: 10px;
}

.btn-abrir-popup:hover {
  background: #0e83a0;
}

.popclick {
  width: 100%;
  height: 100%;
}

.btn-abrir-popup h1 {
  /*  font-family: 'Bebas Neue', cursive; */
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* padding: 20px; */
  /* margin: 200px; */
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  display: block;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 20px;
}

.popclick img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  /* opacity: 0; */
}

.popup form .contenedor-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #bbbbbb;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: violet;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.popup form .btn-submit:hover {
  background: black;
}

.popup.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*# sourceMappingURL=style.css.map */